
  @font-face {
    font-family: "Alte Haas Grotesk";
    src: url(/assets/fonts/AlteHaasGroteskBold.ttf) format("truetype");
    font-weight: medium;
  }
  
  @font-face {
    font-family: "Heavitas";
    src: url(/assets/fonts/Heavitas.ttf) format("truetype");
    font-weight: medium;
  }

  @font-face {
    font-family: "Akira";
    src: url(/assets/fonts/AkiraExpandedDemo.otf) format("opentype");
  }


  @font-face {
    font-family: "Regibility";
    src: url(/assets/fonts/regibilityVF.woff2) format("woff2");
}

@font-face {
  font-family: "Modulaire";
  src: url(/assets/fonts/Modulaire.woff) format("woff");
}

@font-face {
  font-family: "Milos";
  src: url(/assets/fonts/Milos.woff) format("woff");
}

@font-face {
  font-family: "überwolken";
  src: url(/assets/fonts/überwolken.woff2) format("woff2");
}

@font-face {
  font-family: "DataVisualizer";
  src: url(/assets/fonts/DataVisualizer-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Helvetica-SingleLine";
  src: url(/assets/fonts/HelveticaSingleLine-Regular.otf) format("opentype");
}

@font-face {
  font-family: "1234567";
  src: url(/assets/fonts/1234567-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Blockfont";
  src: url(/assets/fonts/Blockfont.ttf) format("truetype");
}